[Unit]
Description=SPIRE Agent
After=network.target

[Service]
ExecStart=/opt/spire/bin/spire-agent run -config /etc/spire/agent.conf
Restart=always

[Install]
WantedBy=multi-user.target