[Unit]
Description=subd agent
After=spire-agent.service
Requires=spire-agent.service

[Service]
Environment="SPIFFE_ENDPOINT_SOCKET=unix:///tmp/spire-agent/public/api.sock"
WorkingDirectory=/usr/local/bin
User=root
ExecStart=/usr/local/bin/subd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target